<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ids.androidsong">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.Principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CancionLista"
            android:label="@string/title_cancionmusico_list"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ids.androidsong.ui.Principal"/>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/cancion_lista_search"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CancionDetalle"
            android:label="@string/title_cancionmusico_detail"
            android:parentActivityName=".ui.CancionLista"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ids.androidsong.ui.CancionLista"/>
        </activity>
        <activity
            android:name=".ui.CancionPre"
            android:label="@string/title_cancionmusico_detail"
            android:parentActivityName=".ui.ShareReceptor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ids.androidsong.ui.CancionLista"/>
        </activity>
        <activity
            android:name=".ui.EditarCancion"
            android:label="@string/title_activity_editar_cancion"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ids.androidsong.ui.CancionDetalle"/>
        </activity>
        <activity
            android:name=".ui.NuevaCancion"
            android:label="@string/title_activity_nueva_cancion"
            android:parentActivityName=".ui.Principal"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ids.androidsong.ui.Principal"/>
        </activity>
        <activity
            android:name=".ui.FullscreenCancion"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_cancion"
            android:parentActivityName=".ui.CancionLista"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ids.androidsong.ui.CancionLista"/>
        </activity>
        <activity
            android:name=".ui.Importador"
            android:label="@string/title_activity_importador"
            android:parentActivityName=".ui.Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ids.androidsong.ui.Principal"/>
        </activity>
        <activity
            android:name=".ui.Sincronizador"
            android:label="@string/title_activity_sincronizar"
            android:parentActivityName=".ui.Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ids.androidsong.ui.Principal"/>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".ui.Papelera"
            android:label="@string/title_activity_papelera"
            android:parentActivityName=".ui.Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ids.androidsong.ui.Principal"/>
        </activity>
        <activity
            android:name=".ui.Atributos"
            android:label="@string/title_activity_atributos"
            android:parentActivityName=".ui.CancionLista"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ids.androidsong.ui.CancionLista"/>
        </activity>

        <service android:name=".help.AndroidSongSyncService"/>

        <activity
            android:name=".ui.ShareReceptor"
            android:label="@string/title_activity_share_receptor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <!-- needed for properly formatted email messages -->
                <data
                    android:scheme="content"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.androidSong" />
                <!-- needed for mangled email messages -->
                <data
                    android:scheme="content"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.androidSong" />
                <!-- needed for mangled email messages -->
                <data
                    android:scheme="content"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.androidSong" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.androidSong" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.androidSong" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/plain" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="text/*" />
                <data android:pathPattern=".*\\.androidSong" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ids.androidsong.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>